.ipynb_checkpoints
DataEngVenv/
ny_taxi_postgres_data
*/.env
.env

# Data and files
Week01/data_dictionary_trip_records_yellow.pdf
# Week01/taxi_zone_lookup.csv
# Week01/yellow_head.csv
# Week01/yellow_tripdata_2024-01.csv
Week01/*.csv
Week01/*.parquet